<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781578090706-pos846cbnprhuujclmehhiuldb0d47t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781578090706-pos846cbnprhuujclmehhiuldb0d47t3</string>
	<key>API_KEY</key>
	<string>AIzaSyBVZtXM30ruFpdWHESZ5-GrFLyEt1SNdTw</string>
	<key>GCM_SENDER_ID</key>
	<string>781578090706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sss.kizbin</string>
	<key>PROJECT_ID</key>
	<string>kizbin-52264</string>
	<key>STORAGE_BUCKET</key>
	<string>kizbin-52264.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781578090706:ios:0b478369f183430b27550b</string>
	<key>DATABASE_URL</key>
	<string>https://kizbin-52264.firebaseio.com</string>
</dict>
</plist>